<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Notifications</h1>
  </mat-toolbar>

  <div class="m-3" fxLayout="column">
    <a
      target="_blank"
      style="text-decoration: none"
      class="p-2"
      href="https://sweetalert2.github.io/#examples"
      >SweetAlert2</a
    >
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <button (click)="warning()" class="btn btn-warning m-2">warning</button>
      <button (click)="positionTop()" class="btn btn-primary m-2">
        Position top-right
      </button>
      <button (click)="error()" class="btn btn-danger m-2">error</button>
      <button (click)="success()" class="btn btn-success m-2">
        success bottom-left
      </button>
      <button (click)="info()" class="btn btn-info m-2">info</button>
      <button (click)="toast()" class="btn btn-secondary m-2">toast</button>
    </div>
  </div>

  <div class="m-3 p-3" fxLayout="column" id="custom-target1">
    <button (click)="toastTargetTopEnd()" class="btn btn-primary m-2">
      toast Target Top-End
    </button>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has
      roots in a piece of classical Latin literature from 45 BC, making it over
      2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words,
      consectetur, from a Lorem Ipsum passage, and going through the cites of
      the word in classical literature, discovered the undoubtable source. Lorem
      Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
      Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
      book is a treatise on the theory of ethics, very popular during the
      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
      amet..", comes from a line in section 1.10.32.
    </p>
  </div>

  <div class="m-3 p-3" fxLayout="column" id="custom-target2">
    <button (click)="toastTargetBottomLeft()" class="btn btn-primary m-2">
      toast Target Bottom-Left
    </button>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has
      roots in a piece of classical Latin literature from 45 BC, making it over
      2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words,
      consectetur, from a Lorem Ipsum passage, and going through the cites of
      the word in classical literature, discovered the undoubtable source. Lorem
      Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
      Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
      book is a treatise on the theory of ethics, very popular during the
      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
      amet..", comes from a line in section 1.10.32.
    </p>
  </div>

  <app-footer></app-footer>
</app-layout>
