.mat-icon {
  margin-right: 4px;
}

table {
  width: 100%;
}

.table-border {
  border: 1px solid;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  text-align: center;
  border: 1px solid rgb(235, 230, 230);
  border-bottom-width: 1;
  background-color: #4c9c9c;
  color: white;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-header-cell {
  text-align: center;
  font-size: 14px;
  color: black;
  border: 1px solid rgb(235, 230, 230);
  background-color: #03787c;
  color: white;
}

.mat-column-Proyecto {
  width: 250px;
  min-width: 250px;
}

.mat-column-HR {
  width: 35px;
  min-width: 35px;
}

.mat-column-HP {
  width: 35px;
  min-width: 35px;
}

.mat-column-DF {
  width: 35px;
  min-width: 35px;
}

.mat-column-lunes {
  width: 60px;
  min-width: 60px;
}
.mat-column-martes {
  width: 60px;
  min-width: 60px;
}
.mat-column-miercoles {
  width: 80px;
  min-width: 80px;
}
.mat-column-jueves {
  width: 60px;
  min-width: 60px;
}
.mat-column-viernes {
  width: 60px;
  min-width: 60px;
}
.mat-column-sabado {
  width: 60px;
  min-width: 60px;
}
.mat-column-domingo {
  width: 70px;
  min-width: 70px;
}

td {
  text-align: center;
}

.button-align {
  margin-left: 20px;
}
