<table class="table table-secondary table-bordered">
  <thead>
    <tr>
      <th class="text-center th-tittle-hour" scope="col">Total horas</th>
      <th class="th-hour" scope="col">9 horas</th>
      <th class="th-hour" scope="col">9 horas</th>
      <th class="th-hour" scope="col">9 horas</th>
      <th class="th-hour" scope="col">11 horas</th>
      <th class="th-hour" scope="col">14.5 horas</th>
      <th class="th-hour" scope="col">0 horas</th>
      <th class="th-hour" scope="col">0 horas</th>
    </tr>
  </thead>
</table>
