<div fxLayout="row">
  <h3 fxFlex class="p-2">Registro de horas</h3>
  <div fxFlexAlign="end">
    <button
      (click)="openPopUpReopening()"
      mat-flat-button
      class="btn btn-outline-secondary m-2"
    >
      Reapertura
    </button>
  </div>
</div>
<form class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar fecha</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cédula</mat-label>
    <input matInput value="1017589963" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput disabled value="Juan Perez" />
  </mat-form-field>
  <button mat-flat-button class="btn btn-outline-secondary m-2">Buscar</button>
</form>
