@import 'src/app/styles/colors';
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.scroll-container {
  // margin-right: 300px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

// .cal-cell-row {
//   height: 100%;
// }
// .ng-star-inserted {
//   height: 51px;
// }
// .cal-month-view .cal-day-cell {
//   height: 51px;
//   min-height: 0px;
// }

.cal-week-view .cal-time-label-column {
  width: 30%;
  height: 100%;
}
.cal-week-view .cal-day-headers {
  padding-left: 30%;
}

.cal-week-view .cal-time {
  width: auto;
}

.cal-week-view .cal-all-day-events .cal-events-row {
  margin-left: 30%;
}

.th-tittle-hour {
  width: 30.1%;
}

.th-hour {
  width: 10%;
  word-break: break-word;
}

.hExtrasNocturnas span {
  color: #ffff !important;
  a {
    color: #ffff !important;
  }
}

.hExtrasDiurnas span {
  color: #000000 !important;
  a {
    color: rgb(0, 0, 0) !important;
  }
}

.mat-flat-button {
  background-color: #4c9c9c;
  color: $white;
}

.button-hoy {
  background-color: #03787c;
}
