<!-- <div class="pb-5" fxLayout="row">
  <app-header-basic></app-header-basic>
</div> -->
<mat-toolbar class="page-header pt-2" role="heading">
  <h2>Service One Firebase</h2>
  <button routerLink="{{ routes.POPUP }}" mat-flat-button>Volver</button>
</mat-toolbar>

<div class="p-4" fxLayout="row ">
  <button (click)="getFirebase()" class="btn btn-success">Run Service</button>
</div>
<!-- <div class="p-3">{{ data | json }}</div> -->

<div class="p-3">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Poder</th>
        <th scope="col">Vivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of heroes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ heroe.nombre }}</td>
        <td>{{ heroe.poder }}</td>
        <td>
          <label *ngIf="heroe.vivo" class="badge bg-primary">Vivo</label>
          <label *ngIf="!heroe.vivo" class="badge bg-secondary">Muerto</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
