<div class="p-2" fxLayout="row" fxLayoutAlign="center center">
  <h3 mat-dialog-title>Reapertura</h3>
</div>
<div fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar fecha</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Motivo</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
  <button class="m-1" mat-raised-button (click)="onClose()">Cancelar</button>
  <button class="m-1" color="primary" (click)="onSave()" mat-flat-button>
    Guardar
  </button>
</div>
