<div class="footer">
  <div class="footer__link">
    <a class="footer__link-item" [href]="">Integral</a>
    <a class="footer__link-item" [href]="">Nosotros</a>
    <a class="footer__link-item" [href]="">Blog</a>
  </div>
  <div class="footer__icon">
    <button mat-mini-fab>
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon> south_america </mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon> compost </mat-icon>
    </button>
  </div>
</div>
